body{
	background: linear-gradient(to bottom, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%);
	margin: 0;
	padding: 0;
}

.keys {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
   display: flex;
   flex-direction: row;
   align-items: top;
   justify-content: center
}

.key {
	width:8%;
	height: 80vh;
	margin-right: 0.3333%;
	background-color: white;
	position: relative;

	border-radius: 0 0 16px 16px;
	-webkit-box-shadow: 0 2px 16px 4px rgba(000,000,000,0.5);
	box-shadow: 0 2px 16px 4px rgba(000,000,000,0.5);

	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
 	-webkit-align-items: flex-end;
 	align-items: flex-end;
}
}

.key:hover {
	-webkit-box-shadow: 0 2px 6px 2px rgba(000,000,000,0.5);
	box-shadow: 0 2px 6px 2px rgba(000,000,000,0.5);	
}


.key:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: all 0.07s;	
}

.alt-key {
	width: 35%;
	height: 38vh;
	z-index: 1000;
	margin-right: -20%;
	background-color: black;
	border-radius:0 0 12px 12px;

}
.key kbd {
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 24px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: bold;
	margin-top:31vh;
}